{% extends 'base_shrink.html' %}

{% block title %}logged_out.html{% endblock %}

{% block content %}
<section class="page-section" id="logout">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Logged out</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">
                    <i class="fas fa-quote-left"></i>
                    &emsp;
                    <span class="h6">Thanks for visiting this web site.</span>
                    &emsp;
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}