{% extends 'base_shrink.html' %}

{% block title %}password_change_form.html{% endblock %}

{% block extra-style %}
<style>
    .errorlist {
      width: 100%;
      margin-top: 0.25rem;
      font-size: 0.875em;
      color: #dc3545;
    }
</style>
{% endblock %}

{% block content %}
<section class="page-section" id="password_change">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Password Change</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">please enter old password and then new password twice.</p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                {{ form.non_field_errors }}
                <form id="contactForm" action="" method="post"> {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" name="old_password" type="password" id="old_password" />
                        <label for="old_password">old password</label>
                        {{ form.old_password.errors }}
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="new_password1" type="password" />
                        <label for="email">new password</label>
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="new_password2" type="password" id="new_password2" />
                        <label for="email">new password confirm</label>
                        {{ form.new_password2.errors }}
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
{% endblock %}