{% extends 'base.html' %}%}
{% load static %}

{% block titme%}home.html{% endblock%}

{% block content%}

<!-- Portfolio-->
<div class="page-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Post List</h2>
        <hr class="divider"/>
    </div>

    <div class="container-fluid p-0">
        <div class="row g-0">
            {% for post in object_list %}
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% url 'blog:post-detail' post.id %}" title="Project Name">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">{{post.category}}</div>
                        <div class="project-name">{{post.title}}</div>
                    </div>
                </a>
            </div>
            {% endfor%}


        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Prev</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">홍 길 동</h2>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Python Project</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Django Project</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Vue Project</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">React Project</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}

